<div class="container" style="margin: 20px 40px;">
  <h2 class="mx-auto my-0 text-uppercase text-white mb-4">Log into My Account</h2>
  <h6 class="mx-auto my-0 text-white mb-4">Please enter you username and password to login.</h6>

  <form action="/login" class="needs-validation" method="post">
    <label class="text-white-50" for="username">Username: </label>
    <input type="text" class="form-control" name="username" required>

    <label class="text-white-50" for="password">Password: </label>
    <input type="password" class="form-control" name="password" required>
    <br><br>
    <input type="submit" value="Login">
  </form>

  <br>
  <a href="/"><input type="submit" value="Back"></a>
</div>
