<h1><%= @user.username.capitalize %> </h1>
<div class="frmBtn">
<p><form action="/happy_hours/new">
    <input type="submit" value="Log a New Journal Entry" />
</form>

<form action="/logout">
    <input type="submit" value="Logout" />
</form></p>
</div>