<div style="margin: 20px 40px;">
    <h2> <%= @user.username %>'s Logs</h2>
    <div style="margin:10px;">
    <% @logs.each do |log_entry| %>
        <h4><a href="/logs/<%= log_entry.id %>"><%= log_entry.shoot_title %></a></h4>
        <h5><%= log_entry.created_at %></h5>
    <% end %>
    </div>
</div>