<div style="margin: 20px 40px;">
<h2>Log a new Shoot</h2>

<form class="" action="/logs" method="post">
  <label for="shoot_title">Shoot Title:</label>
  <input type="text" name="shoot_title" value="">

  <label for="shoot_date">Shoot Date:</label>
  <input type="date" name="shoot_date" value="">

  <label for="place">Place:</label>
  <input type="text" name="place" value="Name of Place">
  
  <label for="city">City:</label>
  <input type="text" name="city" value="City">

  <label for="country">Country:</label>
  <input type="text" name="country" value="">

  <label for="camera">Camera:</label>
  <select name="camera">
    <option value="canon 1dx ii">Canon 1DX II</option>
    <option value="canon 5ds r ii">Canon 5DS R</option>
    <option value="canon 5ds">Canon 5DS</option>
    <option value="canon 5d iv">Canon 5D IV</option>
    <option value="nikon d5">Nikon D5</option>
    <option value="nikon d850">Nikon D850</option>
    <option value="nikon d750">Nikon D750</option>
    <option value="sony a7r iv">Sony A7R IV</option>
    <option value="sony a7r iii">Sony A7R III</option>
    <option value="sony a7s iii">Sony A7S III</option>
    <option value="sony a6500">Sony a6500</option>
    <option value="sony a6400">Sony a6400</option>
  </select>

  <label for="lens">Lens:</label>
  <select name="lens">
    <option value="canon ef 200-400 f4">Canon EF 200-400 f4</option>
    <option value="canon ef 11-24 f4">Canon EF 11-24 f4</option>
    <option value="canon ef 24-70 f2.8">Canon EF 24-70 f2.8</option>
    <option value="canon ef 70-200 f2.8">Canon EF 70-200 f2.8</option>
    <option value="canon ef 85 f1.2">Caon EF 85 f1.2</option>
    <option value="canon ef 35 f1.2">Canon EF 35 f1.2</option>
    <option value="nikon af-s 400 f4">Nikon AF-S 400 f4</option>
    <option value="nikon af-s 11-24 f2.8">Nikon AF-S 11-24 f2.8</option>
    <option value="nikon af-s 24-70 f2.8">Nikon AF-S 24-70 f2.8</option>
    <option value="nikon af-s 70-200 f2..8">Nikon AF-S 70-200 f2.8</option>
    <option value="nikon af-s 85 f1.4">Nikon AF-S</option>
    <option value="nikon af-s 35 f1.4">Nikon AF-S 35 f1.4</option>
    <option value="sony fe 400 f2.8 gm">Sony FE 400 f2.8 GM</option>
    <option value="sony fe 16-35 f2.8 gm">Sony FE 16-35 f2.8 GM</option>
    <option value="sony fe 24-70 f2.8 gm">Sony FE 24-70 f2.8 GM</option>
    <option value="sony fe 70-200 f2.8 gm">Sony FE 70-200 GM</option>
    <option value="sony fe 85 f1.4 gm">Sony FE 85 f1.4 GM</option>
    <option value="sony fe 135 f1.8 gm">Sony FE 135 f1.8 GM</option>
  </select>

  <label for="speedlight">Speedlight:</label>
  <select name="speedlight">
    <option value="nikon sb-5000">Nikon SB-5000</option>
    <option value="nikon sb-700">Nikon SB-700</option>
    <option value="nikon sb-500">Nikon SB-500</option>
    <option value="canon 600ex-rt">Canon 600EX-RT</option>
    <option value="canon 430ex-ii">Canon 430EX II</option>
    <option value="canon mr 14ex ii">Canon MR 14EX II</option>
  </select>

  <label for="drone">Drone:</label>
  <selec name="drone">
    <option value="dji mavic 2 pro">DJI Mavic 2 Pro</option>
    <option value="dji mavic 2 zoom">DJI Mavic 2 Zoom</option>
    <option value="dji phantom 4 pro v2">DJI Phantom Pro 4 V2</option>
  </select>

  <label for="accessories">Accessories: </label>
  <input type="text" name="accessories" value="">

  <label for="notes">Notes: </label>
  <input type="text" name="notes" value="">

  <label for="updated_at">Last Updated: </label>
  <input type="date" name="updated_at" value="">

  <input type="submit" value="Create Entry">
</form>
</div>