<div class="container">
  <section id="signup" class="signup-section">
    <img src="/images/clic_title1.png" alt="clic" width="100%" height="100%">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <h4 class="mx-auto my-0 text-uppercase text-white mb-4">We are Clic</h4>
          <h4 class="mx-auto my-0 text-white mb-4">communicate - log it - imagine - capture</h4>
          <p class="text-white-50">Welcome to CLIC! At CLIC you won't forget when your next photo shoot is or when the last one was. Log anything to everything. Don't forget what gear your bringing. Do you remember where the shoot is? If you CLIC it, we've got you covered.</p>
          <br><br><br>
          <p class="text-white-50">“There are no bad pictures; that’s just how your face looks sometimes.”</p>
          <p class="text-white-50">– Abraham Lincoln</p>
        </div>
      </div>
    </div>
  </section>
</div>
