<div class="container">
<br><br>
  <header>LOGO GOES HERE</header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to CLIC</h2>

    <div class="content">
      <p>Welcome to CLIC! Here at CLIC you won't forget when your next photo shoot is or when was your last shoot. Log anything to everything.</p>
      <br>
      <% if !logged_in? %>
        <form action="/login.html">
          <input type="submit" value="Login" />
        </form>
        <br>
        <form action="/signup.html">
          <input type="submit" value="Signup" />
        </form>
      <% end %>

    </div>

    <div class="sidebar">
      <h3>Put something here</h3>
      <ul>
        <li><b>I need to put something here too</b></li>
        <li><b>Maybe a contact us</b></li>
        <li><b>Maybe an about us</b></li>
        <li><b>And a random photography quote</b></li>
      </ul>
    </div>

  </div>
</div>
